page-addresses {

  .scroll-content>.item {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
  }

  .scroll-content>div {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: block;

  }


  .buttonAdd{
    margin-bottom: 10px;
  }

  .iconAdd{
    margin-top: -4px;
  }

  .icons{
    width:40px;
  }
}
