<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <a href="/#/">
        <img class="header-logo" alt="PsicoGuia" src="assets/img/logo_300.png">
      </a>
    </ion-title>
    <ion-buttons class='cart-mobile' end>
      <button ion-button clear [navPush]="'Cart'">
        <ion-icon name="md-search" color="light"></ion-icon>
        <ion-badge item-right color='secondary'>{{35}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="row-picture ">
      <div class="background-image" [ngStyle]="{'background-image': 'url(' + profile.picture + ')'}">
      </div>
      <img class="avatar-profile center" alt="{{ profile?.person?.user?.username }}" src="{{ profile.picture }}">
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="profile?.person">
    <ion-card-header color="primary">
      <p text-wrap>Datos personales</p>
      <ion-icon style="float: right;" (click)="takeAction('personal-info')" name="more">
      </ion-icon>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-4>
          <ion-item>
            <h2>Correo:</h2>
            <p text-wrap>{{profile.person.user.email}}</p>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <h2>Telefono:
              <p text-wrap>{{profile.person.phone}}</p>
            </h2>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <h2 text-wrap>Notificación de correos:
              <p text-wrap>{{profile.person.notification ? 'Activado': 'Desactivado'}}</p>
            </h2>
          </ion-item>
        </ion-col>
      </ion-row>
      <br/>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="profile">
    <ion-card-header color="primary">
      <p text-wrap>Datos del perfil</p>
      <ion-icon style="float: right;" (click)="takeAction('profile-info')" name="more">
      </ion-icon>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-3>
          <ion-item>
            <h2>Genero:
              <p text-wrap *ngIf="profile.genre">{{getGenero(profile.genre)}}</p>
            </h2>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <h2>Documento de identidad:
              <p text-wrap>{{profile.personalDocumentType}} {{profile.personalDocumentNumber}}</p>
            </h2>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <h2>Genero:
              <p text-wrap *ngIf="profile.genre">{{getGenero(profile.genre)}}</p>
            </h2>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <h2>Archivo documento de identidad:
              <p text-wrap>
                <a [href]="profile.personalDocumentFile">{{profile.personalDocumentFile}}</a>
              </p>
            </h2>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <h2>Número de tarjeta profesional:
              <p text-wrap>{{profile.professionalCardNumber}}</p>
            </h2>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <h2>Archivo de tarjeta profesional:
              <p text-wrap>
                <a [href]="profile.professionalCardFile">{{profile.professionalCardFile}}</a>
                <p>
            </h2>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
      <p text-wrap>Ubicación del perfil</p>
      <ion-icon style="float: right;" (click)="takeAction('location-info')" name="more">
      </ion-icon>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-3>
          <ion-item>
            <h2>Ubicación del perfil (minima):
              <br/>
              <p text-wrap>Ciudad: {{profile.city}}</p>
              <p text-wrap *ngIf="profile?.position">Localización: Lat: {{profile.position.coordinates[1] | number:'1.2' }} - Long: {{profile.position.coordinates[0] | number:'1.2'}} </p>
            </h2>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <h2>Ubicación del perfil (Address):
              <p text-wrap>Id: {{profile.address.id}}</p>
              <p text-wrap>Dirección: {{profile.address.formatted}}</p>
              <p text-wrap>Localización: Lat: {{profile.address.latitude}} - Long: {{profile.address.longitude}} </p>
            </h2>
          </ion-item>
        </ion-col>
      </ion-row>

      <div padding style="height: 240px;" id='map1' #map></div>

    </ion-card-content>
  </ion-card>













  <div class="row">
    <div class="twPc-div">
      <a class="twPc-bg twPc-block"></a>

      <div>
        <div class="twPc-button">
          <a href="https://twitter.com/mertskaplan" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false"
            data-dnt="true">Follow @jsdussanc</a>
        </div>
        <a title="{{ profile?.person?.user?.username }}" href="{{ profile.picture }}" class="twPc-avatarLink">
          <img alt="{{ profile?.person?.user?.username }}" src="{{ profile.picture }}" class="twPc-avatarImg">
        </a>

        <div class="twPc-divUser">
          <div class="twPc-divName">
            {{ profile?.person?.user?.first_name }} {{ profile?.person?.user?.last_name }}
          </div>
          <span>
            {{ profile.professionalCardNumber }}
          </span>
        </div>
        <div class="twPc-divStats">
          <ul class="twPc-Arrange">
            <li class="twPc-ArrangeSizeFit">
              <span class="twPc-StatLabel twPc-block">Calificacion de usuarios</span>
              <span class="twPc-StatValue">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                5.4
              </span>
            </li>
            <li class="twPc-ArrangeSizeFit">
              <span class="twPc-StatLabel twPc-block">Citas atendidas</span>
              <span class="twPc-StatValue">885</span>
            </li>
            <li class="twPc-ArrangeSizeFit">
              <span class="twPc-StatLabel twPc-block">Anhos de experiencia</span>
              <span class="twPc-StatValue">5</span>
            </li>
          </ul>
        </div>
        <div class="none">
          <ion-item *ngFor="let study of studies">
            <ion-label>
              <span>{{ study.title }}</span>
            </ion-label>
          </ion-item>
        </div>
        {{profile.location}}
        <div>
        </div>
      </div>
    </div>
    <!-- code end -->
  </div>




</ion-content>