<ion-header>
  <div class="container">
    <header-psicoguia></header-psicoguia>
  </div>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="row-picture ">
      <div class="background-image" [ngStyle]="{'background-image': 'url(' + profile.picture + ')'}">
      </div>
      <img class="avatar-profile center" alt="{{ profile?.person?.user?.username }}" src="{{ profile.picture }}">
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="profile?.person">
    <ion-card-header color="primary">
      <p text-wrap>Datos personales</p>
      <ion-icon *ngIf="edit != 'personal-info'" style="float: right;" (click)="takeActionEdit('personal-info')" name="md-create"></ion-icon>
      <button *ngIf="edit == 'personal-info'" color="success" ion-button (click)="takeActionSave('personal-info')" style="float: right;">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
      <button *ngIf="edit == 'personal-info'" color="danger" ion-button (click)="takeActionCancel('personal-info')" style="float: right;">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-card-header>
    <ion-card-content>

      <!-- Read User -->
      <ion-row *ngIf="edit != 'personal-info'">
        <ion-col col-4>
          <ion-item>
            <h2>Nombre:</h2>
            <p text-wrap>{{profile.person.user.first_name}}</p>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <h2>Apellido:</h2>
            <p text-wrap>{{profile.person.user.last_name}}</p>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <h2>Correo:</h2>
            <p text-wrap>{{profile.person.user.email}}</p>
          </ion-item>
        </ion-col>
        <ion-col col-md-4>
          <ion-item>
            <h2>Telefono:
              <p text-wrap>{{profile.person.phone}}</p>
            </h2>
          </ion-item>
        </ion-col>
        <ion-col col-md-4>
          <ion-item>
            <h2 text-wrap>Notificación de correos:
              <p text-wrap>{{profile.person.notification ? 'Activado': 'Desactivado'}}</p>
            </h2>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Update user -->
      <ion-row *ngIf="edit == 'personal-info'">
        <ion-col col-4>
          <ion-item>
            <ion-label>Nombre:</ion-label>
            <ion-input [(ngModel)]="editProfile.person.user.first_name" name="first_name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label>Apellido:</ion-label>
            <ion-input [(ngModel)]="editProfile.person.user.last_name" name="last_name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label>Correo:</ion-label>
            <ion-input [(ngModel)]="editProfile.person.user.email" name="email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label>Telefono:</ion-label>
            <ion-input [(ngModel)]="editProfile.person.phone" name="phone"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <h2 text-wrap>
              <p text-wrap>{{profile.person.notification ? 'Activado': 'Desactivado'}}</p>
            </h2>
            <ion-label>Notificación de correos:</ion-label>
            <ion-checkbox [(ngModel)]="editProfile.person.notification"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="profile">
    <ion-card-header color="primary">
      <p text-wrap>Datos del perfil</p>
      <ion-icon *ngIf="edit != 'profile-info'" style="float: right;" (click)="takeActionEdit('profile-info')" name="md-create"></ion-icon>
      <button *ngIf="edit == 'profile-info'" color="success" ion-button (click)="takeActionSave('profile-info')" style="float: right;">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
      <button *ngIf="edit == 'profile-info'" color="danger" ion-button (click)="takeActionCancel('profile-info')" style="float: right;">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <!-- stadistics profile -->
        <ion-col col-4>
          <ion-item text-center>
            <h2>Calificacion de usuarios:</h2>
            <p text-wrap>54</p>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item text-center>
            <h2>Citas atendidas:</h2>
            <p text-wrap>885</p>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item text-center>
            <h2>Años de experiencia:</h2>
            <p text-wrap>5</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- read profile -->
      <ion-row *ngIf="edit != 'profile-info'">
        <ion-col col-md-12>
          <ion-item>
            <h2>Nombre del perfil:
              <p text-wrap *ngIf="profile.profile_title">{{profile.profile_title}}</p>
            </h2>
          </ion-item>
        </ion-col>

        <ion-col col-md-12>
          <ion-item>
            <h2>Sobre mi:
              <p text-wrap *ngIf="profile.about_me">{{profile.about_me}}</p>
            </h2>
          </ion-item>
        </ion-col>

        <ion-col col-md-3>
          <ion-item>
            <h2>Genero:
              <p text-wrap *ngIf="profile.genre">{{getGenero(profile.genre)}}</p>
            </h2>
          </ion-item>
        </ion-col>

        <ion-col col-md-3>
          <ion-item>
            <h2>Documento de identidad:
              <p text-wrap>{{profile.personalDocumentType}} {{profile.personalDocumentNumber}}</p>
            </h2>
          </ion-item>
        </ion-col>

        <ion-col col-md-3>
          <ion-item>
            <h2>Archivo documento de identidad:
              <p text-wrap>
                <a [href]="profile.personalDocumentFile">{{profile.personalDocumentFile}}</a>
              </p>
            </h2>
          </ion-item>
        </ion-col>
        <ion-col col-md-3>
          <ion-item>
            <h2>Número de tarjeta profesional:
              <p text-wrap>{{profile.professionalCardNumber}}</p>
            </h2>
          </ion-item>
        </ion-col>
        <ion-col col-md-3>
          <ion-item>
            <h2>Archivo de tarjeta profesional:
              <p text-wrap>
                <a [href]="profile.professionalCardFile">{{profile.professionalCardFile}}</a>
                <p>
            </h2>
          </ion-item>
        </ion-col>
        <ion-col col-md-3>
          <ion-item>
            <h2>Tipo de moneda:
              <p text-wrap>{{profile.cost_currency}}</p>
            </h2>
          </ion-item>
        </ion-col>
        <ion-col col-md-3>
          <ion-item>
            <h2>Costo:
              <p text-wrap>{{profile.cost}}</p>
            </h2>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Update Profile-->
      <ion-row *ngIf="edit == 'profile-info'">
        <ion-col col-md-12>
          <ion-item>
            <ion-label>Nombre del perfil:</ion-label>
            <ion-input [(ngModel)]="editProfile.profile_title" name="text"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-md-12>
          <ion-item>
            <ion-label>Sobre mi:</ion-label>
            <ion-textarea [(ngModel)]="editProfile.about_me" name="text"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col col-md-6>
          <ion-item>
            <ion-label>Genero: </ion-label>
            <ion-select [(ngModel)]="editProfile.genre">
              <ion-option value="M">Masculino</ion-option>
              <ion-option value="F">Femenino</ion-option>
              <ion-option value="">No definido</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-md-6>
          <ion-item>
            <ion-label>Tipo de documento de identidad:</ion-label>
            <ion-select [(ngModel)]="editProfile.personalDocumentType">
              <ion-option value="TI">Tarjeta de identidad</ion-option>
              <ion-option value="CC">Cedula</ion-option>
              <ion-option value="F">Pasaporte</ion-option>
              <ion-option value="??">No definido</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-md-6>
          <ion-item>
            <ion-label>Número de documento de identidad:</ion-label>
            <ion-input [(ngModel)]="editProfile.personalDocumentNumber" name="phone"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-md-6>
          <ion-label>Archivo documento de identidad:</ion-label>
          <input type="file" (change)="filesChange($event,'personalDocumentFile')">
        </ion-col>
        <ion-col col-md-6>
          <ion-item>
            <ion-label>Número de tarjeta profesional:</ion-label>
            <ion-input [(ngModel)]="editProfile.professionalCardNumber" name="phone"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-md-6>
          <ion-label>Archivo de tarjeta profesional:</ion-label>
          <input type="file" (change)="filesChange($event,'professionalCardFile')">
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header color="primary">
      <p text-wrap>Ubicación del perfil</p>
      <ion-icon style="float: right;" (click)="takeAction('location-info')" name="md-create">
      </ion-icon>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-md-3>
          <ion-item>
            <h2>Ubicación del perfil:
              <br/>
              <p text-wrap>Ciudad: {{profile.city}}</p>
              <br>
              <p text-wrap>Dirección: {{profile.address_full}}</p>
              <p text-wrap *ngIf="profile?.position">Localización: Lat: {{profile.position.coordinates[1] | number:'1.2' }} - Long: {{profile.position.coordinates[0]
                | number:'1.2'}} </p>
            </h2>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- Map Inject -->
      <div padding style="height: 240px;" id='map1' #map></div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="profile">
    <ion-card-header color="primary">
      <p text-wrap>Canales de atención</p>
      <ion-segment [(ngModel)]="attentionChannel">
        <ion-segment-button value="Consultorio">
          <ion-icon name="home">Consultorio</ion-icon>
        </ion-segment-button>
        <ion-segment-button value="Chat">
          <ion-icon name="ios-chatbubbles">Chat</ion-icon>
        </ion-segment-button>
        <ion-segment-button value="Domicilio">
          <ion-icon name="ios-basket">Domicilio</ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>
    <ion-card-content>
      <div [ngSwitch]="attentionChannel">
        <ion-list *ngSwitchCase="'Consultorio'">
          <!-- <ion-list-header>Contenido Consultrio</ion-list-header> -->
          <button ion-item (click)="clickAttentionChannel(item)" *ngFor="let item of profile.office_set">
            <ion-avatar item-start>
              <img *ngIf="item.images" src="{{item.images[0].image}}">
            </ion-avatar>
            <h2>{{item.id}} - {{item.description}}</h2>
            <p>{{item.city}} {{item.address}}</p>
            <ion-note item-end>{{item.created | date: "longDate"}}</ion-note>
          </button>
          <ion-item *ngIf="!profile.office_set?.length">No cuentas con consultorios</ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Chat'">
          <!-- <ion-list-header> Contenido Chat</ion-list-header> -->
          <button ion-item (click)="clickAttentionChannel(item)" *ngFor="let item of profile.chat_set">
            <ion-avatar item-start>
              <img *ngIf="item.images" src="{{item.images[0].image}}">
            </ion-avatar>
            <h2>{{item.id}} - {{item.description}}</h2>
            <p>{{item.city}} {{item.address}}</p>
            <ion-note item-end>{{item.created | date: "longDate"}}</ion-note>
          </button>
          <ion-item *ngIf="!profile.chat_set?.length">No cuentas con chats</ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'Domicilio'">
          <!-- <ion-list-header> Contenido Domicilio</ion-list-header> -->
          <button ion-item (click)="clickAttentionChannel(item)" *ngFor="let item of profile.homevisit_set">
            <ion-avatar item-start>
              <img *ngIf="item.images" src="{{item.images[0].image}}">
            </ion-avatar>
            <h2>{{item.id}} - {{item.description}}</h2>
            <p>{{item.city}} {{item.address}}</p>
            <ion-note item-end>{{item.created | date: "longDate"}}</ion-note>
          </button>
          <ion-item *ngIf="!profile.homevisit_set?.length">No cuentas con domicilios</ion-item>
        </ion-list>

        <div style="width: 100%;text-align:right;">
          <button ion-button item-right clear (click)="clickNewAttentionChannel()">
            <ion-icon name="add">Añadir</ion-icon>
          </button>
        </div>

      </div>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="profile">
    <ion-card-header color="primary">
      <p text-wrap>Estudios</p>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <button ion-item (click)="clickStudie(item)" *ngFor="let item of profile.studies_set">
          <h2>{{item.id}} - {{item.title}}</h2>
          <p>Años de experiencia: {{item.experienceYears}} | Nivel:{{item.level}}</p>
          <ion-note item-end>{{item.date | date: "longDate"}}</ion-note>
        </button>
      </ion-list>
      <div style="width: 100%;text-align:right;">
        <button ion-button item-right clear (click)="clickNewStudie()">
          <ion-icon name="add">Añadir</ion-icon>
        </button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="profile">
    <ion-card-header color="primary">
      <p text-wrap>Patolgías soportadas</p>
      <ion-icon style="float: right;" (click)="takeAction('patology')" name="more">
      </ion-icon>
    </ion-card-header>
    <ion-card-content class="card-patology" style="height: 300px">
      <select class="ui fluid search dropdown" multiple="">
        <option value="">Escoge las patologias </option>
        <option *ngFor="let item of listCategories" [selected]="patologiInProfile(item)" [value]="item.id">{{item.name}}</option>
      </select>
      <br/>
    </ion-card-content>
  </ion-card>






  <div class="row">
    <div class="twPc-div">
      <a class="twPc-bg twPc-block"></a>

      <div>
        <div class="twPc-button">
          <a href="https://twitter.com/mertskaplan" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false"
            data-dnt="true">Follow @jsdussanc</a>
        </div>
        <a title="{{ profile?.person?.user?.username }}" href="{{ profile.picture }}" class="twPc-avatarLink">
          <img alt="{{ profile?.person?.user?.username }}" src="{{ profile.picture }}" class="twPc-avatarImg">
        </a>

        <div class="twPc-divUser">
          <div class="twPc-divName">
            {{ profile?.person?.user?.first_name }} {{ profile?.person?.user?.last_name }}
          </div>
          <span>
            {{ profile.professionalCardNumber }}
          </span>
        </div>
        <div class="twPc-divStats">
          <ul class="twPc-Arrange">
            <li class="twPc-ArrangeSizeFit">
              <span class="twPc-StatLabel twPc-block">Calificacion de usuarios</span>
              <span class="twPc-StatValue">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                5.4
              </span>
            </li>
            <li class="twPc-ArrangeSizeFit">
              <span class="twPc-StatLabel twPc-block">Citas atendidas</span>
              <span class="twPc-StatValue">885</span>
            </li>
            <li class="twPc-ArrangeSizeFit">
              <span class="twPc-StatLabel twPc-block">Anhos de experiencia</span>
              <span class="twPc-StatValue">5</span>
            </li>
          </ul>
        </div>
        <div class="none">
          <ion-item *ngFor="let study of studies">
            <ion-label>
              <span>{{ study.title }}</span>
            </ion-label>
          </ion-item>
        </div>
        {{profile.location}}
        <div>
        </div>
      </div>
    </div>

  </div>




</ion-content>