page-profile-medic {
    .twPc-div {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #e1e8ed;
        border-radius: 6px;
        width: 100%; // orginal twitter width: 490px;
    }
    .twPc-bg {
        /*background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");*/
        background-image: url("/static/medic/images/bgpf3.png");
        background-position: 0 50%;
        /*background-size: 100% auto;*/
        border-bottom: 1px solid #e1e8ed;
        border-radius: 4px 4px 0 0;
        height: 95px;
        width: 100%;
    }
    .twPc-block {
        display: block !important;
    }
    .twPc-button {
        margin: -35px -10px 0;
        text-align: right;
        width: 100%;
    }
    .twPc-avatarLink {
        background-color: #fff;
        border-radius: 6px;
        display: inline-block !important;
        float: left;
        margin: -30px 5px 0 8px;
        max-width: 100%;
        padding: 1px;
        vertical-align: bottom;
    }
    .twPc-avatarImg {
        border: 2px solid #fff;
        border-radius: 7px;
        box-sizing: border-box;
        color: #fff;
        height: 100px;
        width: 100px;
    }
    .twPc-divUser {
        margin: 15px 0 0;
        text-align: left;
    }
    .twPc-divName {
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
    }
    .twPc-divName a {
        color: inherit !important;
    }
    .twPc-divStats {
        margin-left: 11px;
        padding: 10px 0;
    }
    .twPc-Arrange {
        box-sizing: border-box;
        display: table;
        margin: 0;
        min-width: 100%;
        padding: 0;
        table-layout: auto;
    }
    ul.twPc-Arrange {
        list-style: outside none none;
        margin: 0;
        padding: 0;
    }
    .twPc-ArrangeSizeFit {
        display: table-cell;
        padding: 0;
        vertical-align: top;
    }
    .twPc-ArrangeSizeFit a:hover {
        text-decoration: none;
    }
    .twPc-StatValue {
        display: block;
        font-size: 18px;
        font-weight: 500;
        transition: color 0.15s ease-in-out 0s;
    }
    .twPc-StatLabel {
        color: #8899a6;
        font-size: 10px;
        letter-spacing: 0.02em;
        overflow: hidden;
        text-transform: uppercase;
        transition: color 0.15s ease-in-out 0s;
    }

    .avatar-profile{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        overflow: hidden;
    }
    .row-picture{
        text-align: center;
        position: relative;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .background-image {
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
        background-repeat: no-repeat;
        background-position: center; 
        background-size: 120%;
        z-index: -1;
      }
      
    
}
