page-user-points {
    .first-row{
        .col{
            background-color: map-get($colors, secondary);
            border-color: map-get($colors, secondary);
            color: white;
            padding: 15px;
        }
    }
    
    .col{
        border: 1px solid #ddd;
        text-align: center;
    }

    ion-card {
        position: relative;
        text-align: center;
    }
    
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 3.5rem;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }

    .card-subtitle {
        font-size: 1.5rem;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
        padding: 10px;
    }

    .max-page-wid{
        height: 100%;
    }
}
