<!--
  Generated template for the Cart page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img alt="The Smokers Store" src="assets/img/logo.png" (click)="navCtrl.setRoot('Home');"></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item-divider>
    <h1 class="blue" padding>CARRITO DE COMPRAS</h1>
  </ion-item-divider>
  <div>
    <p *ngIf="cartService.cartProducts && cartService.cartProducts.length>0">
       TOTAL ELEMENTOS ( {{elementCount()}}
      <span *ngIf="elementCount()==1">elemento</span>
      <span *ngIf="elementCount()!=1">elementos</span>
      ): <strong>$ {{ cartService.totalPrice()+cartService.flag_total | number:'3.2'}}</strong>
    </p>
    <button margin-bottom ion-button block (click)="checkOut()" color="secondary" *ngIf="cartService.cartProducts && cartService.cartProducts.length>0">
      {{ "PAGAR"  }}
    </button>

    <div *ngIf="!cartService.cartProducts  || cartService.cartProducts.length<1">
        <p>Aún no has agregado ningun producto a tu carrito</p>
        <button margin-bottom ion-button (click)="navCtrl.setRoot('Home');" color="secondary">
          IR A LA TIENDA
        </button>
    </div>

    <div>
      <ion-list>
        <ion-item *ngFor="let cp of cartService.cartProducts">
          <ion-thumbnail item-left>
            <div class="parent">
              <img *ngIf="cp.photos && cp.photos.length" class="image1" src="{{cp.photos[0].image}}" alt='{{cp.photos[0].alt}}'/>
              <img *ngIf="cp.kit_id" class="image2" src="assets/img/obsequio.png" />
              <h2 class="text1" *ngIf="cp.discount">{{cp.price_discount}} %</h2>
            </div>
          </ion-thumbnail>
          <h2>{{cp.name}}</h2>
          <p *ngIf="!cp.discount && !cp.kit_id" ion-text color="danger">$ {{cp.price | number:'3.2'}} c/u</p>
          <p *ngIf="cp.discount && !cp.kit_id" ion-text color="danger"> <s>$ {{cp.price | number:'3.2'}}</s>
                          <b>$ {{(cp.price - (cp.price*cp.price_discount/100)) | number:'3.2'}}</b>c/u</p>
          <p *ngIf="cp.kit_id" ion-text color="danger" class="price">$ {{ 0 | number:'3.2'}}</p>
          <p> {{ "Cantidad"  }} {{cp.quantity}} </p>
          <button *ngIf='!cp.kit_id && !(cp.name.toLowerCase().indexOf("kit") >= 0)' class="edit-amount-button" ion-button icon-only item-right (click)="cartService.editAmount(cp.id, cp.quantity)" clear>
            <ion-icon name="md-create" color="primary"></ion-icon>
          </button>
          <button *ngIf='!cp.kit_id' class="remove-product" ion-button icon-only item-right (click)="cartService.removeCart(cp.id)" clear>
            <ion-icon name="trash" color="primary"></ion-icon>
          </button>
          <div class="subtotal">
            <p *ngIf="!cp.discount && !cp.kit_id" ion-text color="danger" class="price"> = $ {{cp.price*cp.quantity | number:'3.2'}}</p>
            <p *ngIf="cp.discount && !cp.kit_id" ion-text color="danger" class="price"> <b>= $ {{(cp.price - (cp.price*cp.price_discount/100))*cp.quantity | number:'3.2'}}</b>c/u</p>
          </div>
        </ion-item>

        <ion-item *ngIf="cartService.totalPrice() < 30000 && cartService.cartProducts.length != 0">
          <ion-thumbnail item-left>
            <img src="../../assets/img/envio.png" alt="Domicilio">
          </ion-thumbnail>
          <h2>Costo de envío</h2>
          <p ion-text color="danger" class="price">$ {{5000 | number:'3.2'}}</p>
          <p> {{ "Cantidad"  }} 1 </p>
        </ion-item>

      </ion-list>
    </div>

    <button margin-top ion-button block (click)="checkOut()" color="secondary" *ngIf="cartService.cartProducts  && cartService.cartProducts.length>0">
      {{ "PAGAR"  }}
    </button>
  </div>


</ion-content>
