page-city-select {

    ion-spinner * {
        stroke: map-get($colors, secondary) !important;
    }

    .isLogin{
        height: 300px;
        overflow-y: auto;
    }

    .scroll::-webkit-scrollbar-track {
        background:#FBFBFB;
        box-shadow: 3px 3px 10px rgba(0,0,0,.25) inset;
    }
    .scroll::-webkit-scrollbar-thumb {
        background: #84C4FF;
        border-radius: 10px;
        border:1px solid rgba(0,0,0,0.3);
        box-shadow: -3px -3px 6px rgba(66,137,224,1) inset,3px 3px 3px rgba(158,226,225,1) inset;
    }

    .autocomplete{

        .searchbar-clear-icon{
            margin-top: 0px !important;
        }

        ion-searchbar{
            z-index: 9;
        }
        
        .searchbar-input{
            box-shadow: 0 5px 20px -5px #333;
        }

        ion-list{
            padding-left: 8px;
            padding-right: 8px;
            margin-top: -8px;            
        }
        ion-item {
            background-color: #ffffff;
            cursor: pointer;
        }

        ion-item:hover{
            background-color: map-get($colors, light);
        }
        .div-supply{
            height: 170px;
            display: none;
        }
    }

    .outer {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    
    .middle {
        display: table-cell;
        vertical-align: middle;
    }
    
    .inner {
        margin-left: auto;
        margin-right: auto; 
        max-width: 600px;
        height: 100%;
    }

    .inkremental-sidebar .part1{
        margin-bottom: 4px;
        p{
            font-size: 14px;
            margin-bottom: -12px;
            margin-left: 5px;
            color: white;
        }
    }
    
    .inkremental-sidebar .part2 img{
        max-width: 150px;   
    }

    .scroll-content{
        padding: 0px !important;
    }

    .background-login{
        background-image: url("../../assets/imgs/intro_login.jpg");
        background-repeat: no-repeat;
    }

    .loading-login{
        position: absolute;

    }

    .login-div{
        background-color: map-get($colors, primary);
        text-align: center;
        //overflow: hidden;
        height: 100%;
        box-shadow: 5px 0px 200px #262626;
        img{
            margin: 0px;
        }
        ion-item{
            padding-bottom: 10px;
            padding-right: 10px;
        }
        button{
            width: 100%;
            margin-top: 20px;
            max-width: 554px;
        }
        h1{
            color: white;
            font-weight: 300;
        }
        h2{
            color: #108bbc;
            margin-bottom: -33px;
            padding-top: 30px;
            margin-left: 6px;
        }
        ion-label{
            h2{
                margin: 0px;
                padding: 0px;
            }
        }
    }

    @media only screen and (max-height: 740px){
        .inner {
            height: auto;
        }

        .login-div{
            h1{
                font-size: 15px;
                padding: 0px !important;
            }
        }
    }

    @media only screen and (max-width: 500px){
        .login-div{
            overflow: auto;
            img{
                max-width: 40%;
                margin: 0px;
            }
            button{
                margin-top: 0px;
            }
            h2{
                font-size: 11px;
                margin-bottom: -13px;
            }

            .notLogin{
                padding: 0px !important;
            }
        }

        .autocomplete{
            .div-supply{
                display: block;
            }
        }
    }
}
