<!--
  Generated template for the CitySelectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
    <div class="inner">
        <div class="login-div">
            <h2>
              Bienvenido a
            </h2>
            <img src="../../assets/img/logo.png" alt="SmokersStore">
            <!-- <ion-grid padding *ngIf='!addresses'>
              <ion-row>
                <ion-col>
                  <button ion-button block (click)='login()' color="secondary">
                    Iniciar sesión
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button block (click)="openPage('Register')" color="secondary">
                    Registrate
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid> -->
            <h1 padding>
              Hola, indicanos dónde deseas recibir tu pedido
            </h1>
            <div class="loading-in-line" *ngIf="loadingInfo">
                <ion-spinner></ion-spinner>
            </div>
            <button padding ion-button (click)="openPage('Addresses')" *ngIf='addresses && !loadingInfo' color="secondary">
              Agregar Dirección
            </button>
            <div class="isLogin scroll" *ngIf='addresses && !loadingInfo' padding>
              <ion-card *ngFor='let ad of addresses'>
                <ion-item-divider>
                  <ion-label style="text-align: initial;"><b>Colombia - {{ad.nameCity}}</b></ion-label>
                  <ion-checkbox color="secondary" [(ngModel)]="ad.selected"
                  (click)="changeCheck(ad.id, ad.selected)"></ion-checkbox>
                </ion-item-divider>
                <ion-item>
                  <h2>{{ad.address}}</h2>
                  <p>{{ad.notes}}</p>
                </ion-item>
              </ion-card>
            </div>
            <div class="notLogin" *ngIf='!addresses && !loadingInfo' padding>
              <ion-item *ngIf="selectCity" (click)="noCity()">
                <ion-label stacked>Ciudad</ion-label>
                <ion-input type="text" disabled value="{{selectCity.name}}"></ion-input>
              </ion-item>
              <div class="autocomplete" *ngIf="!selectCity">
                <ion-searchbar
                  #mainSearchbar
                  [(ngModel)]="searchText"
                  placeholder="Ciudad"
                  (ionInput)="getItems($event)"
                  (ionClear)="clearSearch()"
                  debounce=500
                  (keydown)='pressKey($event.keyCode)'>
                </ion-searchbar>
                 <ion-list *ngIf="_flagClear">
                     <ion-item *ngIf="citys.length >= 1" [ngClass]="{active: (_activeSearch == 0)}" (click)="setCity(citys[0])">
                          {{citys[0]}}
                     </ion-item>
                     <ion-item *ngIf="citys.length >= 2" [ngClass]="{active: (_activeSearch == 1)}" (click)="setCity(citys[1])">
                          {{citys[1]}}
                     </ion-item>
                     <ion-item *ngIf="citys.length >= 3" [ngClass]="{active: (_activeSearch == 2)}" (click)="setCity(citys[2])">
                          {{citys[2]}}
                     </ion-item>
                </ion-list>
                <div class="div-supply" *ngIf="!_flagClear"></div>
              </div>
              <ion-item *ngIf='selectCity && !addresses'>
                <ion-label>Acepto que soy mayor de edad</ion-label>
                <ion-checkbox color="dark" checked="false" [(ngModel)]="is_adult"></ion-checkbox>
              </ion-item>              
            </div>
            <button ion-button color='secondary' *ngIf='addresses || selectCity' (click)='updateCity()' [disabled]="!addresses && !is_adult">Aceptar</button>
        </div>
    </div>
</ion-content>
