<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color='primary'>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img alt="The Smokers Store" src="assets/img/logo.png" (click)="navCtrl.setRoot('Home');"></ion-title>
      <ion-buttons class='cart-mobile' end>
        <button ion-button clear [navPush]="'Cart'" >
          <ion-icon name="md-cart" color="light"></ion-icon>
          <ion-badge item-right color='secondary' *ngIf="cartService.cartProducts.length>0">{{cartService.cartProducts.length}}</ion-badge>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-card>
      <img src="../../assets/img/cropped-smoke-700x100.jpg"/>
      <ion-card-content>
        <div *ngIf='user' style="padding: 10px;">
            <div style="float: left; width: 360px;">
              <h1 style="color: #9e9e9e;">Mi Perfil</h1>
              <div class="row">
                <ion-col col-3><b>Nombre:</b></ion-col>
                <ion-col col-8>{{user.first_name}} {{user.last_name}}</ion-col>               
              </div>
              <div class="row">
                <ion-col col-3><b>Correo:</b></ion-col>
                <ion-col col-8>{{user.email}}</ion-col>                  
              </div>
              <div class="row">
                <ion-col col-3><b>Telefono:</b></ion-col>
                <ion-col col-8>{{user.person.phone}}</ion-col> 
              </div>
            </div>
            <ion-item *ngIf='user' style="float: right; width: 260px;">
                <ion-label>Correos Informativos</ion-label>
            <ion-checkbox [(ngModel)]="flag_mail" (ionChange)="oncheckChange(flag_mail)"></ion-checkbox>
            </ion-item>
            <div *ngIf='user.person.refered' style="margin-left:auto; margin-right:auto; width: 360px;">
              <h1 style="color: #9e9e9e;">Mi Referidor</h1>            
              <div class="row">
                <ion-col col-3><b>Nombre:</b></ion-col>
                <ion-col col-8>{{user.person.refered.user.first_name}} {{user.person.refered.user.last_name}}</ion-col>                      
              </div>
              <div class="row">
                <ion-col col-3><b>Correo:</b></ion-col>
                <ion-col col-8>{{user.person.refered.user.email}}</ion-col>                      
              </div>
              <div class="row">
                <ion-col col-3><b>Telefono:</b></ion-col>
                <ion-col col-8>{{user.person.refered.phone}}</ion-col>
              </div>
            </div>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
