page-guide-modal {
  h1{
    padding: 15px;
    color: map-get($colors, secondary);
  }

  .close{
    float: right;
    right: 0px;
  }

  ion-icon{
    font-size: 30px;
  }

  ion-content{
    border-bottom: 16px solid transparent;
  }
}
