page-thanks {
  .scroll-content>.item {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
  }

  .no-wrap{
    white-space: initial;
  }
}
