<!--
  Generated template for the Contact page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img alt="The Smokers Store" src="assets/img/logo.png" (click)="navCtrl.setRoot('Home');"></ion-title>
    <ion-buttons class='cart-mobile' end>
      <button ion-button clear [navPush]="'Cart'" >
        <ion-icon name="md-cart" color="light"></ion-icon>
        <ion-badge item-right color='secondary' *ngIf="cartService.cartProducts.length>0">{{cartService.cartProducts.length}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item-divider>
    <h1 class="blue" padding>CONTACTO</h1>
  <div class="part1">
    <div class="map" id='map1' #map>  </div>
  </div>
    <div class="part2">
      <ion-item-group>
        <ion-item-divider color="light"><b>Bogotá</b></ion-item-divider>
        <ion-item>
          <h2>Cra. 15 #80-36 Of 102</h2>
          <p>
            Oficina principal norte, Barrio: El Retiro
          </p>
          <p class="blue"><ion-icon name="logo-whatsapp"></ion-icon> Tel: 7552066 - 305 715 8236</p>
        </ion-item>
        <ion-item>
          <h2>Diagonal 69B sur # 78L - 43</h2>
          <p>Punto atención sur</p>
          <p class="blue"><ion-icon name="logo-whatsapp"></ion-icon> Tel: 4025541 - 314 270 5451</p>          
        </ion-item>
      <ion-item-divider color="light"><b>Manizales</b></ion-item-divider>
      <ion-item>
        <h2>Carrera 23 No 70 - 177</h2>
        <p>
          Tienda Manizales, Local - Sector Batallon
        </p>
        <p class="blue"><ion-icon name="logo-whatsapp"></ion-icon> Tel: 311 827 0089</p>
      </ion-item>
      <ion-item-divider color="light"><b>Tunja</b></ion-item-divider>
      <ion-item>
        <h2>Estación de Servicio Terpel del Barrio Maldonado</h2>
        <p>
          Tienda Tunja
        </p>
        <p class="blue"><ion-icon name="logo-whatsapp"></ion-icon> Tel: 317 508 5586</p>
      </ion-item>
      <ion-item-divider color="light"><b>Medellín</b></ion-item-divider>
      <ion-item>
        <h2>Carrera 41 No 9 - 22</h2>
        <p>
          Tienda Medellín
        </p>
        <p class="blue"><ion-icon name="logo-whatsapp"></ion-icon> Tel: 314 297 3727</p>
      </ion-item>
    </ion-item-group>
    </div>
  </ion-item-divider>

  <div class="contact-form">
      <div class="part1">
        <div class="contact-form-text">
          <h1 padding>Contáctanos</h1>
          <h6 padding-left>Nosotros te ayudaremos a resolver todas tus dudas</h6>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="contactForm()" margin-bottom>
          <ion-item *ngIf="!userService.user">
            <ion-label floating>Nombre*</ion-label>
            <ion-input type="text" autocapitalize="name" formControlName="name"></ion-input>
          </ion-item>
          <ion-item *ngIf="userService.user">
            <ion-label floating>Nombre*</ion-label>
            <ion-input type="text" autocapitalize="name" formControlName="name" value="{{userService.user.first_name}} {{userService.user.last_name}}" disabled></ion-input>
          </ion-item>
          <ion-item *ngIf="!userService.user">
            <ion-label floating>Correo Electrónico*</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item *ngIf="userService.user">
            <ion-label floating>Correo Electrónico*</ion-label>
            <ion-input type="email" formControlName="email" value="{{userService.user.email}}" disabled></ion-input>
          </ion-item>
          <ion-item *ngIf="!userService.user">
            <ion-label floating>Teléfono</ion-label>
            <ion-input type="phone" formControlName="phone"></ion-input>
          </ion-item>
          <ion-item *ngIf="userService.user">
            <ion-label floating>Teléfono</ion-label>
            <ion-input type="phone" formControlName="phone" value="{{userService.user.person.phone}}" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Mensaje*</ion-label>
            <ion-textarea type="text" formControlName="text"></ion-textarea>
          </ion-item>
          <button ion-button type="submit" block color="secondary">Enviar</button>
        </form>
      </div>
  
      <div class="part2">
        <ion-slides *ngIf="!slidesListMid.length">
          <ion-slide>
            <div>
              <img src="assets/img/dummie_415x448.png" alt="Cigarrillos electronicos bogotá - The Smokers Store" >
            </div>
          </ion-slide>
        </ion-slides>
        <ion-slides *ngIf="slidesListMid.length > 1" pager=true loop="true" speed="1000" autoplay="5000">
          <ion-slide *ngFor="let slideMid of slidesListMid" >
            <div>
              <img [src]="slideMid.image" [alt]="slideMid.alt" class="dummy_415_448">
            </div>
          </ion-slide>
        </ion-slides>
        <ion-slides *ngIf="slidesListMid.length == 1">
          <ion-slide *ngFor="let slideMid of slidesListMid" >
            <div>
              <img [src]="slideMid.image" [alt]="slideMid.alt" class="dummy_415_448">
            </div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
</ion-content>
