<!--
  Generated template for the RegisterMedicPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="container">
    <header-psicoguia></header-psicoguia>
  </div>
</ion-header>

<ion-content padding>
  <div class="max-page-wid">
    <h1 padding>REGISTRO</h1>

    <form [formGroup]="registerMedicForm" (ngSubmit)="register()" margin-bottom>
      <ion-item>
        <ion-label stacked>Correo electrónico*</ion-label>
        <ion-input type="email" autocapitalize="off" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Contraseña*</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Confirmar Contraseña*</ion-label>
        <ion-input type="password" formControlName="validatePassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Nombres*</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Apellidos*</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Teléfono*</ion-label>
        <ion-input type="phone" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>No. Tarjeta Profesional*</ion-label>
        <ion-input type="text" formControlName="profesional_card_id"></ion-input>
      </ion-item>
      <div class="term-conditions">
        <ion-label>
          <ion-checkbox formControlName="term_cond"></ion-checkbox> Acepto
          <a (click)="navCtrl.push('TermsConditionsPage')">
            <b>términos y condiciones</b>
          </a>
        </ion-label>
      </div>
      <div class="term-conditions">
        <ion-label>
          <ion-checkbox formControlName="habeas_data"></ion-checkbox> Acepto
          <a (click)="navCtrl.setRoot('TermsConditionsHabeasDataPage')">
            <b>términos y condiciones (habeas data)</b>
          </a>
        </ion-label>
      </div>
      <div class="term-conditions">
        <ion-label>
          <ion-checkbox formControlName="email_notification"></ion-checkbox>
          Acepto recibir correo con información y publicidad de psicoguia
        </ion-label>
      </div>
      <button *ngIf="!loading" ion-button type="submit" block color="secondary" [disabled]="!registerMedicForm.valid">Registrarse</button>
      <button ion-button *ngIf="loading" block color="secondary" disabled>
        <ion-spinner name="crescent"></ion-spinner>
      </button>
    </form>
  </div>
</ion-content>