<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img alt="The Smokers Store" src="assets/img/logo.png" (click)="navCtrl.setRoot('Home');"></ion-title>
    <ion-buttons class='cart-mobile' end>
      <button ion-button clear [navPush]="'Cart'">
        <ion-icon name="md-cart" color="light"></ion-icon>
        <ion-badge item-right color='secondary' *ngIf="cartService.cartProducts.length>0">{{cartService.cartProducts.length}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding class="product-container" name="product-container">

    <div class="product" *ngIf="product">
      <h3 class="blue" padding>{{currentProduct.name}}</h3>
      <div class="product-main-image" *ngIf="mainImage">
        <div class="parent">
          <img class="image1 product-main-image" [src]="mainImage" alt="{{mainImage.alt}}" class="dummy_500_500"/>
          <img class="image2 product-main-image" src="assets/img/unavailable.png" *ngIf="currentProduct.qty_available <= 0">
          <h2 class="text1" *ngIf="currentProduct.discount">{{currentProduct.discount}}</h2>
        </div>
      </div>
      <div class="product-thumbnails" margin-bottom>
        <div *ngIf='currentProduct.photos && currentProduct.photos.length > 1'>
          <img *ngFor="let photo of currentProduct.photos" [src]="photo.image" alt='{{photo.alt}}' (click)="changeMainImage(photo)" class="dummy_500_500"/>
        </div>
      </div>
      <div margin-top>
        <!-- TODO poduct size -->
        <div class="colorpha"  [innerHTML]="currentProduct.description">

        </div>

        <div class="loading-in-line" *ngIf="loadingProduct">
          <ion-spinner></ion-spinner>
        </div>
        <ion-grid *ngIf='!loadingProduct'>
          <ion-row>
            <ion-col text-center>
              <h3 *ngIf="currentProduct.discount" class="blue strong">
                <s>COP $ {{currentProduct.price | number:'3.2'}}</s> =>
                <b>COP $ {{(currentProduct.price - (currentProduct.price*currentProduct.price_discount/100)) | number:'3.2'}}</b>
              </h3>
              <h3 *ngIf="!currentProduct.discount" class="blue strong">COP $ {{currentProduct.price | number:'3.0'}}</h3>
            </ion-col>
          </ion-row>

            <div class="selects-desk">
              <ion-row>
              <ion-col col-6>
                <ion-item >
                  <ion-label color="primary">Cantidad</ion-label>
                  <ion-input type="number" [(ngModel)]="quantity" min="1" max="99"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col col-6 ng *ngIf="(att.color.length != 0)">
                <ion-item>
                  <ion-label>Color</ion-label>
                  <ion-select [(ngModel)]="color" (ionChange)="onChangeVariant('color')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.color" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col col-6 ng *ngIf="(att.batteryCapacity.length > 1)">
                <ion-item>
                  <ion-label>Capacidad Bateria</ion-label>
                  <ion-select [(ngModel)]="batteryCapacity" (ionChange)="onChangeVariant('batteryCapacity')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.batteryCapacity" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <p></p>
              <ion-col col-6 ng *ngIf="(att.mlCapacity.length != 0)">
                <ion-item>
                  <ion-label>Capacidad ml</ion-label>
                  <ion-select [(ngModel)]="mlCapacity" (ionChange)="onChangeVariant('mlCapacity')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.mlCapacity" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col col-6 ng *ngIf="(att.case.length != 0)">
                <ion-item>
                  <ion-label>Case</ion-label>
                  <ion-select [(ngModel)]="case" (ionChange)="onChangeVariant('case')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.case" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col col-6 ng *ngIf="(att.levelNicotine.length != 0)">
                <ion-item>
                  <ion-label>Nivel Nicotina</ion-label>
                  <ion-select [(ngModel)]="levelNicotine" (ionChange)="onChangeVariant('levelNicotine')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.levelNicotine" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col col-6 ng *ngIf="(att.oHm.length != 0)">
                <ion-item>
                  <ion-label>oHm</ion-label>
                  <ion-select [(ngModel)]="oHm" (ionChange)="onChangeVariant('oHm')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.oHm" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col col-6 ng *ngIf="(att.electricResistance.length != 0)">
                <ion-item>
                  <ion-label>Resistencia Eléctrica</ion-label>
                  <ion-select [(ngModel)]="electricResistance" (ionChange)="onChangeVariant('electricResistance')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.electricResistance" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col
               col-6 ng *ngIf="(att.flavor.length != 0)">
                <ion-item>
                  <ion-label>Sabor</ion-label>
                  <ion-select [(ngModel)]="flavor" (ionChange)="onChangeVariant('flavor')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.flavor" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col
              row-6 ng *ngIf="(att.reference.length > 0)">
               <ion-item>
                 <ion-label>Referencia</ion-label>
                 <ion-select [(ngModel)]="reference" (ionChange)="onChangeVariant('reference')"
                 okText="Aceptar" cancelText="Cancelar">
                   <ion-option *ngFor="let pB of att.reference" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                 </ion-select>
               </ion-item>
             </ion-col>

             <ion-col
             row-6 ng *ngIf="(att.GA.length > 0)">
              <ion-item>
                <ion-label>GA</ion-label>
                <ion-select [(ngModel)]="GA" (ionChange)="onChangeVariant('GA')"
                okText="Aceptar" cancelText="Cancelar">
                  <ion-option *ngFor="let pB of att.GA" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
             
            </ion-row>

            <!--CHANGE TO ID KITS -->
            <div class="only-Kit" *ngIf="(product.categ_id[0] == IDS_KITS[0] || product.categ_id[0] == IDS_KITS[1]
            || product.categ_id[0] == IDS_KITS[2] || product.categ_id[0] == IDS_KITS[3] || product.categ_id[0] == IDS_KITS[4])">
              <ion-row>
                <ion-col col-6>
                  <ion-item>
                    <ion-label *ngIf='!liquid1' >Sabor Liquido 1</ion-label>
                    <ion-select [(ngModel)]="liquid1"
                    okText="Aceptar" cancelText="Cancelar">
                      <ion-option *ngFor="let pB of liquids; let i = index" value="{{i}}">{{pB.name}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col col-6>
                  <ion-item *ngIf="liquid1">
                    <ion-label *ngIf='!nicotine1' >mg Nicotina</ion-label>
                    <ion-select [(ngModel)]="nicotine1"
                    okText="Aceptar" cancelText="Cancelar">
                      <ion-option *ngFor="let pB of liquids[liquid1].levelNicotine; let i = index" value="{{i}}">{{pB[1]}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <ion-item>
                    <ion-label *ngIf='!liquid2'>Sabor Liquido 2</ion-label>
                    <ion-select [(ngModel)]="liquid2"
                    okText="Aceptar" cancelText="Cancelar">
                      <ion-option *ngFor="let pB of liquids; let i = index" value="{{i}}">{{pB.name}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col col-6>
                  <ion-item *ngIf="liquid2">
                    <ion-label *ngIf='!nicotine2'>mg Nicotina</ion-label>
                    <ion-select [(ngModel)]="nicotine2"
                    okText="Aceptar" cancelText="Cancelar">
                      <ion-option *ngFor="let pB of liquids[liquid2].levelNicotine; let i = index" value="{{i}}">{{pB[1]}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
             </div>
            </div>

            <div class="selects-mobile">
              <ion-row row-6>
                <ion-item >
                  <ion-label color="primary">Cantidad</ion-label>
                  <ion-input type="number" [(ngModel)]="quantity" min="1" max="99"></ion-input>
                </ion-item>
              </ion-row>

              <ion-row row-6 ng *ngIf="(att.color.length != 0)">
                <ion-item>
                  <ion-label>Color</ion-label>
                  <ion-select [(ngModel)]="color" (ionChange)="onChangeVariant('color')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.color" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-row>
              <ion-row row-6 ng *ngIf="(att.batteryCapacity.length > 1)">
                <ion-item>
                  <ion-label>Capacidad Bateria</ion-label>
                  <ion-select [(ngModel)]="batteryCapacity" (ionChange)="onChangeVariant('batteryCapacity')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.batteryCapacity" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-row>
              <ion-row row-6 ng *ngIf="(att.mlCapacity.length != 0)">
                <ion-item>
                  <ion-label>Capacidad ml</ion-label>
                  <ion-select [(ngModel)]="mlCapacity" (ionChange)="onChangeVariant('mlCapacity')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.mlCapacity" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-row>
              <ion-row row-6 ng *ngIf="(att.case.length != 0)">
                <ion-item>
                  <ion-label>Case</ion-label>
                  <ion-select [(ngModel)]="case" (ionChange)="onChangeVariant('case')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.case" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-row>

              <ion-row row-6 ng *ngIf="(att.levelNicotine.length != 0)">
                <ion-item>
                  <ion-label>Nivel Nicotina</ion-label>
                  <ion-select [(ngModel)]="levelNicotine" (ionChange)="onChangeVariant('levelNicotine')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.levelNicotine" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-row>

              <ion-row row-6 ng *ngIf="(att.oHm.length != 0)">
                <ion-item>
                  <ion-label>oHm</ion-label>
                  <ion-select [(ngModel)]="oHm" (ionChange)="onChangeVariant('oHm')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.oHm" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-row>

              <ion-row row-6 ng *ngIf="(att.electricResistance.length != 0)">
                <ion-item>
                  <ion-label>Resistencia Eléctrica</ion-label>
                  <ion-select [(ngModel)]="electricResistance" (ionChange)="onChangeVariant('electricResistance')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.electricResistance" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-row>

              <ion-row
               row-6 ng *ngIf="(att.flavor.length != 0)">
                <ion-item>
                  <ion-label>Sabor</ion-label>
                  <ion-select [(ngModel)]="flavor" (ionChange)="onChangeVariant('flavor')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.flavor" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-row>

              <ion-row
               row-6 ng *ngIf="(att.reference.length > 0)">
                <ion-item>
                  <ion-label>Referencia</ion-label>
                  <ion-select [(ngModel)]="reference" (ionChange)="onChangeVariant('reference')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.reference" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-row>

              <ion-row
                row-6 ng *ngIf="(att.GA.length > 0)">
                <ion-item>
                  <ion-label>Referencia</ion-label>
                  <ion-select [(ngModel)]="GA" (ionChange)="onChangeVariant('GA')"
                  okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let pB of att.GA" value="{{pB[0]}}">{{pB[1]}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-row>

            <!--CHANGE TO ID KITS -->
            <div class="only-Kit" *ngIf="(product.categ_id[0] == IDS_KITS[0] || product.categ_id[0] == IDS_KITS[1]
            || product.categ_id[0] == IDS_KITS[2] || product.categ_id[0] == IDS_KITS[3] || product.categ_id[0] == IDS_KITS[4])">
                <ion-row row-6 style="margin-top: 10px;">
                  <ion-item>
                    <ion-label>Sabor Liquido 1</ion-label>
                    <ion-select [(ngModel)]="liquid1"
                    okText="Aceptar" cancelText="Cancelar">
                      <ion-option *ngFor="let pB of liquids; let i = index" value="{{i}}">{{pB.name}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-row>
                <ion-row row-6 style="margin-bottom: 10px;">
                  <ion-item *ngIf="liquid1">
                    <ion-label>mg Nicotina</ion-label>
                    <ion-select [(ngModel)]="nicotine1"
                    okText="Aceptar" cancelText="Cancelar">
                      <ion-option *ngFor="let pB of liquids[liquid1].levelNicotine; let i = index" value="{{i}}">{{pB[1]}} mg</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-row>
                <ion-row row-6 style="margin-top: 10px;">
                  <ion-item>
                    <ion-label>Sabor Liquido 2</ion-label>
                    <ion-select [(ngModel)]="liquid2"
                    okText="Aceptar" cancelText="Cancelar">
                      <ion-option *ngFor="let pB of liquids; let i = index" value="{{i}}">{{pB.name}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-row>
                <ion-row row-6>
                  <ion-item *ngIf="liquid2" style="margin-bottom: 10px;">
                    <ion-label>mg Nicotina</ion-label>
                    <ion-select [(ngModel)]="nicotine2"
                    okText="Aceptar" cancelText="Cancelar">
                      <ion-option *ngFor="let pB of liquids[liquid2].levelNicotine; let i = index" value="{{i}}">{{pB[1]}} mg</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-row>
             </div>
            </div>
        </ion-grid>
        <div class='cart-button' *ngIf="liquid1 && nicotine1 && liquid2 && nicotine2">
          <button ion-button block icon-right (click)="addToCart([currentProduct, liquids[liquid1].variants[nicotine1], liquids[liquid2].variants[nicotine2]], quantity)" color="secondary">
            AGREGAR AL CARRITO
            <ion-icon name="md-cart" color="light"></ion-icon>
          </button>
        </div>
        <div class='cart-button' *ngIf="(!(liquid1 && nicotine1 && liquid2 && nicotine2)) && (product.categ_id[0] == IDS_KITS[0] || product.categ_id[0] == IDS_KITS[1]
      || product.categ_id[0] == IDS_KITS[2] || product.categ_id[0] == IDS_KITS[3] || product.categ_id[0] == IDS_KITS[4])">
          <button ion-button block icon-right (click)="ckeckLiquidKit()" color="secondary">
            AGREGAR AL CARRITO
            <ion-icon name="md-cart" color="light"></ion-icon>
          </button>
        </div>
        <div class='cart-button' *ngIf="!(product.categ_id[0] == IDS_KITS[0] || product.categ_id[0] == IDS_KITS[1]
      || product.categ_id[0] == IDS_KITS[2] || product.categ_id[0] == IDS_KITS[3] || product.categ_id[0] == IDS_KITS[4])">
          <button ion-button block icon-right (click)="addToCart([currentProduct], quantity)" color="secondary">
          AGREGAR AL CARRITO
          <ion-icon name="md-cart" color="light"></ion-icon>
        </button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-harmful">
    <div class="footer-harmful-size">
      <p><span>ADVERTENCIA:</span> El CIGARRILLO ELECTRONICO contiene nicotina que es una sustancia altamente adictiva.
        Está diseñado para ser utilizado por personas que hayan fumado con anterioridad siempre y cuando sean
        mayores de edad. No lo use para tratar alguna condición médica o hábito. No use  si se encuentra en
        periodo de lactancia, No lo use en estado de embarazo o sufre de alguna condición médica que le prohíba
        su uso. Si muestra alguna sensibilidad a los CIGARRILLOS ELECTRONICOS, suspenda su uso. </p>
    </div>
  </div>
</ion-content>
