{% extends 'medic/base.html' %}
{% block content %}
<div class="row">
  <div class="col-sm-4 col-4 col-xs-12 no-padding">
    <div class="features-table">
      <ul>
        <h1>Servicios</h1>
        <li>Perfil publico</li>
        <li>Presencia en el buscador de profesionales</li>
        <li>Notificaciones de pacientes</li>
        <li>Enrutamiento de pacientes</li>
        <li>Validacion de estudios</li>
        <li>Datos de contacto publicos</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-2 col-2 col-xs-12 no-padding">
    <div class="features-table-free">
      <ul>
        <h1>Gratuita</h1>
        <li><i class="fa fa-check"></i></li>
        <li><i class="fa fa-check"></i></li>
        <li><i class="fa fa-check"></i></li>
        <li><i class="fa fa-times"></i></li>
        <li><i class="fa fa-times"></i></li>
        <li><i class="fa fa-times"></i></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-2 col-2 col-xs-12 no-padding">
    <div class="features-table-paid">
      <ul>
        <h1>Pro</h1>
        <li><i class="fa fa-check"></i></li>
        <li><i class="fa fa-check"></i></li>
        <li><i class="fa fa-check"></i></li>
        <li><i class="fa fa-check"></i></li>
        <li><i class="fa fa-check"></i></li>
        <li><i class="fa fa-check"></i></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
