<!--ion-menu [content]="content">
  <ion-content >
    <div class="logo-side-menu">
      <img alt="The Smokers Store" src="assets/img/logo_300.png" (click)="openPage(pages[0])" menuClose>
    </div>
    <ion-list>
      <button menuClose ion-item (click)="openPage(0)" color="primary">KUPA</button>
      <button menuClose ion-item (click)="gotToCollection(8)" color="primary">{{ "PAGE8"  }}</button>
      <button menuClose ion-item (click)="openPage(1)" color="primary">{{ "PAGE1"  }}</button>
      <button ion-item (click)="showAboutUsDetail=!showAboutUsDetail" color="primary" icon-right>
        {{ "ABOUT_US"  }}
        <ion-icon name="ios-arrow-up" *ngIf="showAboutUsDetail"></ion-icon>
        <ion-icon name="ios-arrow-down" *ngIf="!showAboutUsDetail"></ion-icon>
      </button>
      <div *ngIf="showAboutUsDetail" class="submenu">
      <button menuClose ion-item (click)="openPage(2)">{{ "PAGE2"  }}</button>
        <button menuClose ion-item (click)="openPage(3)">{{ "PAGE3"  }}</button>
        <button menuClose ion-item (click)="openPage(4)">{{ "PAGE4"  }}</button>
        <button menuClose ion-item (click)="openPage(7)">{{ "PAGE7"  }}</button>        
      </div>
      <button menuClose ion-item (click)="openPage(5)" color="primary">{{ "PAGE5"  }}</button>      
      <button menuClose ion-item (click)="openPage(6)" color="primary">{{ "PAGE6"  }}</button>
    </ion-list>    
  </ion-content>
</ion-menu-->

<!--ion-list class="desktop-menu">
    <button [ngClass]="{active: menu[1]}" ion-item (click)="openPage(1)" color="primary">{{ "SHOP"  }}</button>
    <button [ngClass]="{active: menu[8]}" ion-item (click)="gotToCollection(8)" color="primary">{{ "HOME_COLLECTIONS"  }}</button>
    <button [ngClass]="{active: (menu[2] || menu[3] || menu[4] || menu[7])}"ion-item (click)="showAboutUsDetail=!showAboutUsDetail" color="primary" icon-right>
      {{ "ABOUT_US"  }}
      <ion-icon name="ios-arrow-up" *ngIf="showAboutUsDetail"></ion-icon>
      <ion-icon name="ios-arrow-down" *ngIf="!showAboutUsDetail"></ion-icon>
    </button>
    <div *ngIf="showAboutUsDetail" class="submenu">
      <button [ngClass]="{active: menu[2]}" ion-item (click)="showAboutUsDetail=!showAboutUsDetail;openPage(2)">{{ "PAGE2"  }}</button>      
      <button [ngClass]="{active: menu[3]}" ion-item (click)="showAboutUsDetail=!showAboutUsDetail;openPage(3)">{{ "PAGE3"  }}</button>
      <button [ngClass]="{active: menu[4]}" ion-item (click)="showAboutUsDetail=!showAboutUsDetail;openPage(4)">{{ "PAGE4"  }}</button>
      <button [ngClass]="{active: menu[7]}" ion-item (click)="showAboutUsDetail=!showAboutUsDetail;openPage(7)">{{ "PAGE7"  }}</button>      
    </div>
    <button [ngClass]="{active: menu[5]}" ion-item (click)="openPage(5)" color="primary">{{ "PAGE5"  }}</button>    
    <button [ngClass]="{active: menu[6]}" ion-item (click)="openPage(6)" color="primary">{{ "PAGE6"  }}</button>
    <button ion-button clear (click)='goToCart()'>
      <img class="img-cart" src="assets/icon/cart-white.png"/>
      <ion-badge item-right color='secondary' *ngIf="cartService.cartProducts.length>0">
        {{cartService.cartProducts.length}}
      </ion-badge>
    </button>
  </ion-list-->

<ion-menu [content]="content">
  <ion-content>
    <div class="header-side-menu">
      <div class="logo-side-menu">
        <img alt="The Smokers Store" src="assets/img/logo_300.png" (click)="openPage(pages[0])" menuClose>
      </div>

      <div *ngIf="!settings?.settings?.user" margin-top>
        <button ion-button clear color="light" (click)="login()">
          Iniciar sesión
        </button>
        <button menuClose ion-button clear color="light" (click)="openPage({component: 'Register'})">
          Regístrate
        </button>
      </div>

      <div class="login-side-menu" *ngIf="settings?.settings?.user">
        <ion-icon name="contact"></ion-icon>
        <h4 padding-bottom text-center>
          {{settings?.settings?.user.first_name}}
        </h4>

      </div>

    </div>

    <ion-list>
      <button menuClose ion-item (click)="openPage(0)" color="primary">PsicoGuia</button>
      <button menuClose ion-item (click)="gotToCollection(8)" color="primary">{{ "PAGE8" }}</button>
      <button menuClose ion-item (click)="openPage(1)" color="primary">{{ "PAGE1" }}</button>
      <button ion-item (click)="showAboutUsDetail=!showAboutUsDetail" color="primary" icon-right>
        {{ "ABOUT_US" }}
        <ion-icon name="ios-arrow-up" *ngIf="showAboutUsDetail"></ion-icon>
        <ion-icon name="ios-arrow-down" *ngIf="!showAboutUsDetail"></ion-icon>
      </button>
      <div *ngIf="showAboutUsDetail" class="submenu">
        <button menuClose ion-item (click)="openPage(2)">{{ "PAGE2" }}</button>
        <button menuClose ion-item (click)="openPage(3)">{{ "PAGE3" }}</button>
        <button menuClose ion-item (click)="openPage(4)">{{ "PAGE4" }}</button>
        <button menuClose ion-item (click)="openPage(7)">{{ "PAGE7" }}</button>
      </div>
      <button menuClose ion-item (click)="openPage(5)" color="primary">{{ "PAGE5" }}</button>
      <button menuClose ion-item (click)="openPage(6)" color="primary">{{ "PAGE6" }}</button>
      <button *ngIf="settings?.settings?.user" ion-item (click)="showProfile=false;openPage({component: 'ProfilePage'})">
        <ion-icon name="person" style="margin-right:4px"></ion-icon>MI PERFIL
      </button>
      <button *ngIf="settings?.settings?.user" menuClose ion-item (click)="openPage({component: 'UserPointsPage'})">
        <ion-icon name="cash" style="margin-right:4px"></ion-icon>MI ESTADO DE CUENTA
      </button>
      <button *ngIf="settings?.settings?.user" ion-item (click)="logout()">
        <ion-icon name="md-exit" style="margin-right:4px"></ion-icon>CERRAR SESIÓN
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<ion-list class="desktop-menu">
  <button ion-item (click)="openPage(5)" color="primary">{{ "BLOG" }}</button>
  <button ion-item (click)="openPage(6)" color="primary">{{ "ALLIANCE" }}</button>
  <!--a ion-item href="/#/profile">PROFILE</a-->
  
  
  <!--button ion-item color="primary">
    <button ion-button  [navPush]="'RegisterMedicPage'" color="secondary">
      Registrate
    </button>
  </button-->
  
  
  <button ion-item (click)="openPage(6)" color="primary">
    <ion-icon name="md-search" color="light"></ion-icon>
    <ion-badge item-right color='secondary'>
      1
    </ion-badge>
  </button>

  <button  ion-item color="primary" (click)="logout()">
    Acerca de nosotros
  </button>
  <button *ngIf="settings?.settings?.user?.user" class="active" ion-item (click)="userOptions=!userOptions" color="primary" icon-left>
    <ion-icon name="person" style="margin-right:4px"></ion-icon>{{settings?.settings?.user?.user?.first_name}}
    <ion-icon name="ios-arrow-up" *ngIf="userOptions"></ion-icon>
    <ion-icon name="ios-arrow-down" *ngIf="!userOptions"></ion-icon>
  </button>
  <div *ngIf="userOptions" class="submenu">
    <button ion-item (click)="userOptions=!userOptions;openPage(3)">{{ "Perfil" }}</button>
    <button ion-item (click)="userOptions=!userOptions;logout()">{{ "Cerrar sesión" }}</button>
  </div>
  <button ion-item  *ngIf="!settings?.settings?.user?.user" (click)="pushPage(2)" color="primary">
    Inicia sesión
  </button>
  <button ion-item  *ngIf="!settings?.settings?.user?.user" (click)="pushPage(1)" color="secondary">
    Registrate
  </button>
</ion-list>






<ion-footer>
  <div class="footer-fixed" style="margin-top: 6px;">
    <button ion-button class="go-to-button">
      Pide tu cita
    </button>
    <div class="phone-contact">
      <p>Linea de atención y Whatsapp</p>
      <h3 class="strong">300-2799407</h3>
    </div>
  </div>
</ion-footer>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" (window:resize)="onResize()"></ion-nav>