<ion-menu [content]="content">
  <ion-content class="no-image primary-background">
    <div class="header-side-menu">
      <div padding class="logo-side-menu">
        <img alt="Psicoguia-logo" src="assets/img/logo_full_300.png" (click)="openPage(pages[0])" menuClose>
      </div>
    </div>

    <ion-list *ngIf="configService">
      <a class="primary-background" *ngFor="let  page of getPages()" href="{{page.segment}}" (click)="$event.preventDefault(); pushPage(page);"
        ion-item text-uppercase>{{page.title}}
      </a>
    </ion-list>

  </ion-content>

</ion-menu>

<ion-footer>
  <div class="footer-fixed" style="margin-top: 6px;">
    <button color="secondary" ion-button class="go-to-button">
      Pide tu cita
    </button>
    <div class="phone-contact">
      <p>Linea de atención y Whatsapp</p>
      <h3 class="strong">300-2799407</h3>
    </div>
  </div>
</ion-footer>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" (window:resize)="onResize()"></ion-nav>