page-shopping-modal {

  .buttons-pay{
    display: flex;
    margin-top: 15px;
    padding-top: 5px;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: gray;
  }

  h2{
    font-weight: 300;
    color: grey;
  }
  h3{
    font-weight: 200;
    color: grey;
  }

  .red{
    color: red !important;
  }

  .item-md ion-avatar img{
    width: 100px;
    height: 100px;
  }
}
