<ion-navbar>
  <button ion-button start menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <a href="{{getPage('Home').segment}}" (click)="openPage(getPage('Home')); $event.preventDefault();">
      <img class="header-logo" alt="PsicoGuia" src="assets/img/logo_300.png">
    </a>
  </ion-title>
  <ion-buttons end>
    <a class="hidden-md" padding href="{{getPage('FaqPqrPage').segment}}" (click)="$event.preventDefault(); pushPage(getPage('FaqPqrPage'));"
      ion-button text-uppercase class="hidden-xs">{{getPage('FaqPqrPage').title}}</a>
    <a class="hidden-md" *ngIf="!settings?.settings?.user?.user" padding href="{{getPage('RegisterMedicPage').segment}}" (click)="$event.preventDefault(); pushPage(getPage('RegisterMedicPage'));"
      ion-button text-uppercase class="hidden-xs">{{getPage('RegisterMedicPage').title}}</a>
    <a class="hidden-md" *ngIf="!settings?.settings?.user?.user" padding href="{{getPage('LoginMedicPage').segment}}" (click)="$event.preventDefault(); pushPage(getPage('LoginMedicPage'));"
      ion-button text-uppercase class="hidden-xs">{{getPage('LoginMedicPage').title}}</a>
    <button class="hidden-md" padding *ngIf="settings?.settings?.user?.user" class="active" ion-button (click)="userMenu($event)"
      color="primary" icon-left>
      <ion-icon name="person" style="margin-right:4px"></ion-icon>{{settings?.settings?.user?.user?.first_name}}
      <ion-icon name="ios-arrow-down"></ion-icon>
    </button>
    <a padding href="{{getPage('SearchPage').segment}}" (click)="$event.preventDefault(); openPage(getPage('SearchPage'));"
      ion-button text-uppercase>
      <ion-icon name="search"></ion-icon>
    </a>
  </ion-buttons>
</ion-navbar>