header-qmercas {
  .ion-md-cart {
    margin-right: 15px;
  }
  ion-badge {
    position: absolute;
    top: -5px;
    right: -3px;
  }

  .bar-buttons-md[end] {
    width: calc(100% - 230px);
  }

  .select-md {
    color: color($colors, light);
    font-size: 1.8rem;
    float: left;
  }

  .bar-button-default-md:hover:not(.disable-hover) {
    color: color($colors, success);
  }

  @media (min-width: 576px) {
    .bar-button-md,
    .bar-button-md[icon-only] {
      padding-top: 20px;
    }
    .back-button {
      padding-top: 0px;
    }
  }
}
