header-qmercas {

  .toolbar-background {
    background: transparent;
  }
  ion-select {
    display: inline-block;
    padding-bottom: 8px;
    position: relative;
    vertical-align: middle;
    .select-text, .select-icon {
      display: inline-block;
    }
  }
  ion-title img {
    vertical-align: middle;
    max-height: 54px;
  }
  .searchbar-input-container {
    background: #fff;
  }
  .toolbar-ios ion-title {
    left: initial;
    top: initial;
    padding: initial;
    position: initial;
  }

  .ion-md-cart {
    margin-right: 15px;
  }
  ion-badge {
    position: absolute;
    top: -5px;
    right: -3px;
  }
  .header-add-address {
    vertical-align: middle;
    color: #fff;
    border: 0;
    margin-top: -3px;
  }

  .bar-buttons-md[end] {
    width: calc(100% - 230px);
  }

  .select-md {
    color: white;
    font-size: 1.8rem;
    float: left;
  }

  .bar-button-default-md:hover:not(.disable-hover) {
    color: color($colors, primary);
  }

  @media (min-width: 576px) {
    .bar-button-md, .bar-button-md[icon-only] {
      padding-top: 20px;
    }
    .back-button {
      padding-top: 0px;
    }
  }
}
