<!--
  Generated template for the AddAttentionChannelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="container">
    <header-psicoguia></header-psicoguia>
  </div>
</ion-header>


<ion-content padding>
  <ion-card>
    <div padding class="max-page-wid">
      <h1 padding>REGISTRO</h1>

      <form [formGroup]="newForm" (ngSubmit)="send()" margin-bottom>
        <ion-item *ngIf="isNew">
          <ion-label>Tipo</ion-label>
          <ion-select formControlName="type" [(ngModel)]="typeAttentionChannel">
            <ion-option value="Consultorio">Consultorio</ion-option>
            <ion-option value="Chat">Chat</ion-option>
            <ion-option value="Domicilio">Domicilio</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="!isNew">
          <ion-label>Tipo: {{typeAttentionChannel}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label stacked>Titulo:*</ion-label>
          <ion-input type="text" formControlName="title" [(ngModel)]="objAttentionChannel.title" placeholder="Mi titulo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Descripción:*</ion-label>
          <ion-textarea rows="3" type="text" formControlName="description" [(ngModel)]="objAttentionChannel.description" placeholder="Introduzca aquí la Descripción de su canale de atención"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label stacked>Ciudad:*</ion-label>
          <ion-input type="text" formControlName="city" [(ngModel)]="objAttentionChannel.city" placeholder="Bogotá"></ion-input>
        </ion-item>

        <!-- Location-->
        <ion-item>
          <ion-label stacked>Dirección de Google: </ion-label>
          <ion-input id="address-attention-channel" formControlName="addressGoogle" placeholder="Carrera 76 BIS ASur #14-57" name="text"></ion-input>
        </ion-item>

        <p padding-horizontal>Puedes introducir tu dirección exacta para que los usuarios te encuentren más facil</p>
        <ion-item>
          <ion-label stacked>Dirección que se mostrará:*</ion-label>
          <ion-input type="text" formControlName="address" [(ngModel)]="objAttentionChannel.address" placeholder="Carrera 76 BIS ASur #14-57 Apt 201"></ion-input>
        </ion-item>

        <ion-item>
          <h3>GPS: </h3>
          <p text-wrap *ngIf="objAttentionChannel.position">Localización: Lat: {{objAttentionChannel.position.coordinates[1] | number:'1.2' }} - Long: {{objAttentionChannel.position.coordinates[0]
            | number:'1.2'}}
          </p>
        </ion-item>

        <!-- Map Inject -->
        <div padding style="height: 420px;" id='map1' #map></div>

        <button margin-top *ngIf="!loading" ion-button type="submit" block color="secondary" [disabled]="!newForm.valid">
          <span *ngIf="isNew">Crear</span>
          <span *ngIf="!isNew">Actualizar</span>
        </button>
        <button margin-top ion-button *ngIf="loading" block color="secondary" disabled>
          <ion-spinner name="crescent"></ion-spinner>
        </button>
      </form>
    </div>
  </ion-card>
</ion-content>