<!--
  Generated template for the Orders page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img alt="The Smokers Store" src="assets/img/logo.png" (click)="navCtrl.setRoot('Home');"></ion-title>
    <ion-buttons class='cart-mobile' end>
      <button ion-button clear [navPush]="'Cart'" >
        <ion-icon name="md-cart" color="light"></ion-icon>
        <ion-badge item-right color='secondary' *ngIf="cartService.cartProducts.length>0">{{cartService.cartProducts.length}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item-divider>
    <h1 class="blue" padding>MIS PEDIDOS</h1>
  </ion-item-divider>

  <ion-toolbar>
    <ion-segment>
      <ion-segment-button (click)='changeTypeOrder(true)' [ngClass]="{active: selectOrders}">
        Online
      </ion-segment-button>
      <ion-segment-button (click)='changeTypeOrder(false)' [ngClass]="{active: !selectOrders}">
        Punto de venta
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div class="loading-in-line" *ngIf="loadingOrders" >
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf='selectOrders'>
    <ion-item-divider *ngFor="let order of orders" >
      <ion-item class="colorFactura">
        <h2 class="maincolor">Factura {{order.invoice_name}}</h2>
        <h3 class="maincolor">Orden: {{order.reference_code}}</h3>
        <h2 class="price">Total $  {{order.amount - order.amount_discount | number:'3.0'}}</h2>
        <h2 class="maincolor" *ngIf='order.amount_points ' >Credito Usado $ {{order.amount_points | number:'3.0'}}</h2>
        <h2 class="maincolor" *ngIf='order.amount_discount ' >Descuento $ {{order.amount_discount | number:'3.0'}}</h2>        
        <h3>Estado {{getState(order.transaction_state)}}</h3>
        <h3>{{order.created | date: 'dd/MM/yyyy  hh:mm'}}</h3>
      </ion-item>
      <ion-item>
        <p>Detalles del envío</p>
        <p>Ciudad: {{order.shipping_city}}</p>
        <p>Dirección: {{order.shipping_address}}</p>
        <p>Telefono: {{order.phone}}</p>
      </ion-item>
      <ion-item style="margin-left: 40px"*ngFor="let products  of order.cart_products">
        <ion-avatar item-start *ngIf='products.photos'>
          <img src="{{products.photos[0].image}}" >
        </ion-avatar>
        <h2>{{products.name}}</h2>
        <h3>{{products.quantity}} Unidades</h3>
        <h3 class="price">Precio $ {{products.price | number:'3.0'}}</h3>
      </ion-item>
    </ion-item-divider>

    <ion-infinite-scroll (ionInfinite)="loadOrders($event)">
       <ion-infinite-scroll-content></ion-infinite-scroll-content>
     </ion-infinite-scroll>
  </div>

  <div *ngIf='!selectOrders'>
    <ion-item-divider *ngFor="let order of pOrdersStore">
      <ion-item class="colorFactura">
        <h2 class="maincolor">Factura {{order.number}}</h2>
        <h2 class="price" *ngIf="order.amount_total">Total $  {{order.amount_total | number:'3.0'}}</h2>
        <h2 class="price" *ngIf="!order.amount_total">Total $ -</h2>
        <h3>{{order.date_invoice}}</h3>
      </ion-item>
      <ion-item style="margin-left: 40px"*ngFor="let products  of order.invoice_lines">
        <h2>{{products.name}}</h2>
        <h3>{{products.quantity}} Unidades</h3>
        <h3 class="price" *ngIf="products.price_unit">Precio $ {{products.price_unit | number:'3.0'}}</h3>
        <h3 class="price" *ngIf="!products.price_unit">Precio $-</h3>
      </ion-item>
    </ion-item-divider>

    <ion-infinite-scroll (ionInfinite)="ordersStoreInfiniteScroll($event)">
       <ion-infinite-scroll-content></ion-infinite-scroll-content>
     </ion-infinite-scroll>
  </div>

</ion-content>
