page-orders {

  .active{
      color: map-get($colors, secondary) !important;
      border-bottom-color: map-get($colors, secondary) !important;
  }

  ion-toolbar{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }

  ion-item-divider{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }

  .scroll-content>.item {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
  }

  h2{
    color: map-get($colors, secondary);
  }

  h3{
    color: map-get($colors, secondary);
  }
  .item-md ion-avatar img{
    width:100px;
    height:100px
  }

  .price{
    color: red;
  }

  .item-md ion-avatar ion-img, .item-md ion-avatar img{
    border-radius: 0px;
    width: 60px;
    height: 60px;
  }

  .colorFactura{
    background-color: map-get($colors, light);
  }

  @media only screen and (max-width: 480px){
    .item-md ion-avatar img{
      width:60px;
      height:60px;
    }
  }
}
