page-contact-modal {

	.testPay{
		display: none;
	}

  .autocomplete {
	width: 100%;

	ion-searchbar {
		padding: 0px !important;
	}

  .active{
    .item-inner{
      border-bottom-style: solid !important;
      border-bottom-color: map-get($colors, secondary) !important;
      border-bottom-width: 2px !important;
    }
  }

	ion-list {
    width: 100%;
		position: relative;
		width: inherit;
		overflow-y: scroll;
		max-height: 150%;
		z-index: 999;

		ion-item {
      width: 100%;
			img {
				max-height: 2.5rem;
				width: auto;
				margin: auto;
				display: block;
			}
		}

		ion-item:hover {
			cursor: pointer;
			background: #f1f1f1
		}
	}
 }
}
